1. Cервис имеет возможность выводить список городов, в которых расположены кинотеатры.
2. Когда пользователь выбрал город, сервис должен выводить список кинотеатров в этом городе.
3. Когда пользователь выбрал кино, сервис должен отображать все кинотеатры, которые показывают этот фильм и время показов.
4. Пользователь может забронировать место или несколько мест на выбранный фильм.
5. Сервис должен показывать свободные и занятые места.
6. Уведомление если выбранное место освободилось
7. Пользователь может отказаться от выбранного места
8. Можно узнать актеров фильма
9. Можно просмотреть все фильмы актера
10. Панель для администратора с добавлением кинотератров и расположением мест
11. История поисков фильмов